<div class='row'>
    <div class='col s12'>
        <h1>Lets Upload some Pictures!!</h1>
        <a class='btn' href='/upload'>Click Here to Upload!</a>    
    </div>
</div>
<div class='row'>
    <% images.forEach(function(item, i){ %>
        <% var imgUrl = cloudinary.url(item, {width: 150, height:150}); %>
        <div class='col s3'>
            <a href="<%= imgUrl %>">Image <%= i + 1 %>. <img src="<%= imgUrl %>"></a>
        </div>
    <% }) %>
</div>